/***  b-forms.css  ***/

ul.primary {
  border-bottom: 1px solid;
  line-height: .5;
}
ul.primary li a {
  padding: .5rem 1rem;
  position: relative;
  margin-bottom: -1px;
  border-radius: 5px;
}

ul.primary li.active a,
ul.primary li.active a:hover {
  border-radius: 5px;
}

.form-item,
.form-actions {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

form,
input,
select,
textarea {
  font: 1rem/1.3 "Open Sans", sans-serif;
  background-color: inherit;
  color: inherit;
  max-width: 100%;
}
option {
  max-width: 18rem;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="time"],
select {
  border: 1px solid;
  border-radius: 5px;
  padding: .3rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select:focus {
  outline: none;
  box-shadow: 2px 2px 0;
}
input[disabled] {
  border: 1px dashed;
}

.admin-list a,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: 1px solid;
  margin: .5em 1em .5em 0;
  padding: .2em .5em;
  border-radius: 5px;
  /*background: transparent !important;  experimental -efoy */
}
[dir="rtl"] button,
[dir="rtl"] [type="button"],
[dir="rtl"] [type="reset"],
[dir="rtl"] [type="submit"] {
  margin: .5em 0 .5em 1em;
}

.admin-list a:hover,
button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
button:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  box-shadow: 2px 2px 0;
  outline: none;
  text-decoration: none;
}

.admin-list a:hover,
.button a:hover {
  text-decoration: none;
}

.admin-list dt,
.admin-list dd {
  box-sizing:border-box;
  padding:.2rem;
}

.admin-list dt{
  float: left;
  margin-top: .5rem;
}

.admin-list dt + dd,
.admin-list dd ~ dd {
  border-top: 1px solid;
  padding-bottom: 1rem;
}

.admin-list dd:after {
    content: "";
    display: block;
    clear: both;
}

.admin-list .row2 + dd:after {
    content:none;
}


.menu-toggle-button {  /* This is a HACK -efoy */
  transform: translateY(-3px);
}

input.button-primary:hover,
input.button-primary:focus {
  box-shadow: 2px 2px 0 #000;
}

a.button,
a.form-cancel {
  font-weight: bold;
  margin: 0 1rem 0 0;/* LTR */
  padding: .2rem .5rem;
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
}

[dir="rtl"] a.button,
[dir="rtl"] a.form-cancel {
  margin: 0 0 0 1rem;
}

a.button:hover,
a.button:focus,
a.form-cancel:hover,
a.form-cancel:focus {
  outline: none;
  box-shadow: 2px 2px 0;
  text-decoration: none;
}

.button a:active {
  transform: translateY(2px);
}

.vertical-tab-item {
  font-size: .9rem;
}

.vertical-tab-link:hover,
.vertical-tab-link:focus {
  outline: 1px solid;
  box-shadow: 3px 3px 0;
  position: relative;
  z-index: 1;
}

.filter-wrapper {
  padding: 1rem;
  border: 1px solid;
  border-top: none;
  position: relative;
}

.filter-wrapper legend {
  position: absolute;
  top: 5px;
  left: 0;/* LTR */
}

fieldset .fieldset-title {
  text-decoration: none;
  font-size: 1.1rem;
}
.collapsible {
    border-radius: 5px;
}
/*********** Stuff for the Admin Theme */
.views-grid-box {
    border-radius: 5px;
}
.views-ui-display-tab-bucket h3{
    font-size:1.3rem;
}

.views-admin h1.unit-title {
    font-size: 1.3rem;
}

.views-display-top {
    padding-top: .4rem;
}
/************************************** */
/** This was added to solve issue #5. It sorta helps, but more is needed. */
.js .dropbutton-wrapper {
  width: 7rem;
}
/****** */
.js .dropbutton li,
.js .dropbutton a {
  text-align: initial;
}
.dropbutton-multiple .dropbutton,
.dropbutton-toggle button {
  border-radius: 0;
  border-color: #000;
}

.js .dropbutton-widget {
  border: 1px solid #000;
  border-radius: 5px;
}

.dropbutton-widget a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
}

.search-block-form > div {
  display: flex;
}
/*
.search-block-form .form-item,
.search-block-form .form-actions input {
  margin: 0;
}
*/
.search-block-form .form-actions {
  margin: 1rem 1rem 0 1rem;
}
.search-block-form .button-primary {
  padding: 0 1rem;
}

.ui-dialog .ui-dialog-buttonpane button,
.ui-dialog .ui-dialog-buttonpane button:hover,
.ui-dialog .ui-dialog-buttonpane button:focus {
  border: 1px solid #000;
  border-radius: 0;
  margin: .5rem;
  font-weight: bold;
}

.ui-dialog .ui-dialog-content .form-actions input,
.ui-dialog .ui-dialog-content .form-actions a {
  display: inline-block;
}

.node-preview-container {
  border-top: 1px solid #000;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
}

.node-preview-container form {
  max-width: 1200px;
  margin: .5rem auto;
  background: inherit;
}

.node-preview-container form > div {
  margin: 0 4vw;
}

input.node-preview-save-button.form-submit,
input.node-preview-save-button.form-submit:hover {
  border: 1px solid;
  border-radius: 0;
}

.node-preview-backlink,
.node-preview-backlink:hover {
  margin: 0 1rem;
}

.node-preview-banner-form-view-mode .form-item {
  display: inline-block;
  margin: 1rem;
}

.node-preview-page .layout {
  padding-bottom: 140px;
}
@media (min-width: 620px) {
  .node-preview-page .layout {
    padding-bottom: 90px;
  }
}

.draggable a.tabledrag-handle,
[dir="rtl"] .draggable a.tabledrag-handle {
  height: 1rem;
  width: 2rem;
  opacity: 0.7;
}
.draggable a.tabledrag-handle {
  margin: 4px 10px 0 -4px;/* LTR */
}
[dir="rtl"] .draggable a.tabledrag-handle {
  margin: 4px -4px 0 10px;
}
a.tabledrag-handle .handle {
  width: 2rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  background: url("../img/grippie.png") center no-repeat;
}
[dir="rtl"] a.tabledrag-handle .handle {
  margin: 0;
  padding: 0;
}
.draggable a.tabledrag-handle:hover,
.draggable a.tabledrag-handle:focus {
  opacity: 1;
}

