/** base.css **/

.layout {
  max-width: 1200px;
  padding: 5vh 2vw 0;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

#layout-edit .layout {
  display: block;
  margin: 0;
  padding: 0;
}

.layout--flexible {
  /* Flexi layouts have a different structure. */
  display: block;
}

.layout-flexible-content {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
}

.layout--flexible .flexible-row:nth-last-child(2),
.layout .l-wrapper {
  flex: 1 0 auto;
}

.admin-bar body .layout {
  padding-top: 33px;
  margin-top: -33px;
}

.l-footer {
  color: #fff;
  background: #828282 url("../img/monochrome-medium.png");
  padding: 2vw 2rem;
  margin: 1rem -2vw 0 -2vw;
  flex: 0 0 auto;
}

.l-footer * {
  color: #fff;
}

@media (min-width: 34em) {
  .container-fluid,
  .container.container-fluid {
    max-width: none;
  }
}

.container {
  margin: 2vh auto;
}

.container.container-fluid {
  padding: 0 2vw;
}

.block-hero {
  margin-left: -4vw;
  margin-right: -4vw;
  color: #fff;
  padding: 50px 8vw;
}

.flexible-row .block-hero {
  margin-left: calc(-4vw + .9375rem);
  margin-right: calc(-4vw + .9375rem);
}

.block-hero * {
  color: #fff;
}

.block-hero-no-image {
  background: #828282 url("../img/monochrome-medium.png");
}

.logo {
  display: block;
  max-width: 300px;
  /*margin: 1rem 0;*/
  float: left;
  padding-top: 10px;
  
}

.item-list ul {
  padding: 0 2rem;
}

.item-list li {
  margin: 0;
}

[dir="rtl"] .item-list li {
  margin: 0;
}

.site-name {
  font-family: Lekton, serif;
  font-weight: 700;
  font-size: 1.9rem;
  margin: 1rem 0;
  padding: 0;
  line-height: 2rem;
}

.site-name a {
  text-decoration: none;
}

.breadcrumb {
  padding: 0;
  margin: 1.5rem 0;
  font-size: .9rem;
}

.breadcrumb ol a {
  background: #dedede;
  text-decoration: none;
  padding: 4px 20px;
  -webkit-clip-path: polygon(0 0, 10px 50%, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0);
  clip-path: polygon(0 0, 10px 50%, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0);
}

[dir="rtl"] .breadcrumb ol a {
  -webkit-clip-path: polygon(10px 0, 0 50%, 10px 100%, 100% 100%, calc(100% - 10px) 50%, 100% 0);
  clip-path: polygon(10px 0, 0 50%, 10px 100%, 100% 100%, calc(100% - 10px) 50%, 100% 0);
}

.breadcrumb ol a:hover {
  text-decoration: underline;
}

.breadcrumb ol li:first-child a {
  padding-left: 12px;
  -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0);
  clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0);
}

[dir="rtl"] .breadcrumb ol li:first-child a {
  padding-left: 20px;
  padding-right: 12px;
  -webkit-clip-path: polygon(10px 0, 0 50%, 10px 100%, 100% 100%, 100% 0);
  clip-path: polygon(10px 0, 0 50%, 10px 100%, 100% 100%, 100% 0);
}

.submitted {
  font-size: .89rem;
}

.messages pre {
  background: inherit;
  border: 0;
}

.header-menu {
    text-align: right;
    list-style-position: inside;
}

.block-system-main-menu {
  /*margin: 1rem 0;*/
  border-top: 1px solid;
  border-bottom: 1px solid;
  background: #abcdef;
}

.menu-dropdown ul {
  border: 1px solid #000;
  border-radius: 7px;
  background: #abcdef;
}

.menu-toggle-button {
  margin: 5px 5px 1px;
}

.menu-toggle-button-icon,
.menu-toggle-button-icon::before,
.menu-toggle-button-icon::after {
  background: #222;
}

.block-system-main-menu ul.menu a,
.block-system-main-menu ul.menu a:hover {
  padding: .5rem;
  font-size: 1.4rem;
  color: #502020;
  font-family: Lekton, serif;
  font-weight: 700;

}

.menu-dropdown ul a:hover,
.menu-dropdown ul a:focus,
.menu-dropdown ul a:active,
.menu-dropdown ul a.highlighted {
  background: #0002;
}

.block-system-main-menu ul.menu > li > a,
.block-system-main-menu ul.menu > li > a:hover {
  padding: .5rem .5rem; /* was 1rem .5rem; -EFoy */
}

.block-system-main-menu ul.menu > li > a.active,
.block-system-main-menu ul.menu > li > a.active-trail {
  position: relative;
}

.block-system-main-menu ul.menu > li > a.active::after,
.block-system-main-menu ul.menu > li > a.active-trail::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
}

/* @todo simplify. */
.js .menu-dropdown > li > a.has-submenu,
.js .menu-dropdown > li > a.has-submenu:hover,
.js .menu-dropdown > li > a.has-submenu:focus,
.js .menu-dropdown > li > a.has-submenu:active,
.js .menu-dropdown ul li > a.has-submenu,
.js .menu-dropdown ul li > a.has-submenu:hover,
.js .menu-dropdown ul li > a.has-submenu:focus,
.js .menu-dropdown ul li > a.has-submenu:active,
.js .menu-dropdown > li.has-children > a,
.js .menu-dropdown > li.has-children > a:hover,
.js .menu-dropdown > li.has-children > a:focus,
.js .menu-dropdown > li.has-children > a:active {
  padding-right: 30px;/* LTR */
}

[dir="rtl"] .menu-dropdown li.has-children > a {
  /* Core completely messes that. */
  padding: 1rem .5rem 1rem 30px !important;
}

[dir="rtl"] .menu-dropdown ul li.has-children > a {
  padding: .5rem .5rem .5rem 30px !important;
}

@media (min-width: 769px) {
  .view-promoted .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .view-promoted .view-content > div {
    width: 49.99%;
    width: calc(50% - 1px);
  }
  .view-promoted .view-content > div:nth-child(even) {
    border-left: 1px solid; /* LTR */
  }
  .view-promoted .view-content > div:nth-child(odd) article {
    margin-right: 2rem; /* LTR */
  }
  .view-promoted .view-content > div:nth-child(even) article {
    margin-left: 2rem; /* LTR */
  }
  [dir="rtl"] .view-promoted .view-content > div:nth-child(even) {
    border-left: 0;
    border-right: 1px solid;
  }
  [dir="rtl"] .view-promoted .view-content > div:nth-child(odd) article {
    margin-right: 0;
    margin-left: 2rem;
  }
  [dir="rtl"] .view-promoted .view-content > div:nth-child(even) article {
    margin-left: 0;
    margin-right: 2rem;
  }
}

.view-promoted .view-content > div {
  margin: 0 0 60px;
  position: relative;
}

.view-promoted article {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.view-promoted .view-content > div::after {
  content: "";
  display: block;
  width: 80%;
  position: absolute;
  bottom: -30px;
  left: 10%;
  border-bottom: 1px solid;
}

.view-promoted article > h2 {
  padding: 0;
}

.view-promoted article .content {
  flex: 1 0 auto;
}

.view-promoted article ul.links.inline {
  display: block;
  margin: 0 0 -1rem;
  flex: 0 0 auto;
}

.view-promoted .view-content > div:nth-child(even) ul.links.inline {
  left: 2rem;
}

.view-promoted article ul.links.inline li {
  margin: 0;
  xpadding: 0;
}

.item-list .pager li {
  padding: 0;
}

.item-list .pager li a {
  padding: .2rem .5rem;
  margin: 4px;
}

.item-list .pager li a:hover,
.item-list .pager li a:focus {
  outline: 1px solid;
}

.item-list .pager .pager-current {
  padding: .15rem .5rem;
  margin: 4px;
  border: 1px solid;
}

tr.even {
  background-color: inherit;
}

tr.odd {
  background-color: #d4e6f7; /* was #fafafa; -EFoy */
}

table.views-table,
table.sticky-enabled {
  width: 100%;
}

ul.inline,
ul.links.inline {
  xpadding: 0;
  display: flex;
  flex-wrap: wrap;
}

ul.inline li,
ul.links.inline li {
  margin: 0;
  }

ul.links.inline a {
  background: #f7f7f7 url("../img/monochrome.png");
  border: 1px solid;
  border-radius: 7px; /*border-radius added by -EFoy */
  padding: 4px 6px;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 0 0 0; /* changed by -EFoy */
}

[dir="rtl"] ul.links.inline a {
  margin: 0 0 1rem 1rem;
}

.unpublished,
.node.unpublished {
  background-color: inherit;
}

.unpublished-indicator {
  padding: 1rem;
  background: #f7f7f7 url("../img/mono-warn.png");
}

.node .field-name-field-tags {
  margin: 1rem 2rem;
}

.field-name-field-tags .field-item {
  display: list-item;
  list-style-type: disclosure-closed;
}

.term-page article.view-mode-teaser {
  margin-bottom: 3rem;
}

.term-page article.view-mode-teaser::after {
  content: "";
  display: block;
  margin: 2rem 20% 0;
  border-bottom: 1px solid;
}

ul.links.inline .comment-forbidden a {
  display: inline;
  margin: 0;
  padding: 0;
  background: inherit;
  border: 0;
  text-decoration: underline;
}

@media (min-width: 1025px) {
  .name-and-slogan {
    margin-bottom: 2rem;
  }
  .site-name {
    font-size: 2.2rem;
    margin: 4vh 0 1rem;
    line-height: 2.2rem;
  }
  .block-hero .block-title {
    font-size: 3em;
  }
  .block-hero .block-content {
    font-size: 160%;
  }
}

/**
 * Responsive tables.
 */
@media screen and (max-width: 450px) {
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  th.priority-low,
  td.priority-low {
    display: none;
  }
}

@media screen and (min-width: 721px) {
  .tableresponsive-toggle-columns {
    display: none;
  }
}
