/* Home page cards */
.front .block-hero + .block-views-promoted-cards-block {
  margin-top: -50px;
}
.front .block-hero + .block-system-messages {
  margin-top: -50px;
  margin-bottom: 0;
}
.front .block-system-messages + .block-views-promoted-cards-block {
  margin-top: -6px;
}
.block-views-promoted-cards-block {
  padding: 0;
  background-color: #eee;
}
.dark-mode .block-views-promoted-cards-block {
  color: #fff;
  background-color: #3e3e3e;
}
.block-views-promoted-cards-block {
  max-width: none;
  margin-left: -4vw;
  margin-right: -4vw;
}
.view-promoted-cards {
  padding: 0;
  margin: 0 0 3rem;
  max-width: none;
}
.view-promoted-cards .views-field-field-image {
  margin: -1em -1em 0;
}
.view-promoted-cards .views-view-grid {
}
.view-promoted-cards .views-view-grid .views-grid-box {
  border: none;
  max-width: 500px;
  margin: 0 auto;
}
.view-promoted-cards .views-view-grid .views-grid-box:hover {
  background-color: #f8f8f8;
}
.dark-mode .view-promoted-cards .views-view-grid .views-grid-box:hover {
  background-color: #2d2d2d;
}
.view-promoted-cards .views-view-grid .views-grid-box img {
  -webkit-filter: saturate(25%);
  filter: saturate(25%);
}
.view-promoted-cards .views-view-grid .views-grid-box:hover img {
  -webkit-filter: none;
  filter: none;
}
.view-promoted-cards .views-field-title h2 {
  margin: .5rem 0;
  font-size: 1.8rem;
}
@media (max-width: 1024px) {
  .view-promoted-cards .views-view-grid {
    display: block;
  }
}
