/*** colors.css  ***/

/*      --default colors--
    Page Text           0f0f0f    #0f0f0f
    Link Text           093579    #093579
    Block Borders       000000    #000000
    Page Background     ffffff    #ffffff
    Header Background   bcc8c8    #bcc8c8
    Header Text         0f0f0e    #0f0f0e
    Footer Background   bcc8c9    #bcc8c9
    Footer Text         0f0e0f    #0f0e0f
    Menu Background     c8d7d2    #c8d7d2
    Menu Text           0e0f0f    #0e0f0f
    Menu Highlight      d2e1dc    #d2e1dc
    Table Rows          e6e6e6    #e6e6e6
    Active Sort Column  dcdcdc    #dcdcdc
    Table Headings      dcdcdc    #dcdcdc
    
*/    

/*---------------------------*/
/*  Page Text                */

body,
h1,h2,h3,h4,h5,h6 {
  color: #0f0f0f;
}

/*---------------------------*/
/*   Link Text               */

a {
  color: #093579;
  text-decoration: none;
}

h2 a,
h3 a {
  color: #093579;
}

/*---------------------------*/
/*   Block Borders           */

.block {
  border-color: #000000;
}

/*---------------------------*/
/*   Page Background         */

body,
.layout {
  background-color: #ffffff;
}

tr.even {
  background-color: #ffffff;
}

/*---------------------------*/
/*   Header Background       */

.block-system-header {
  background: #bcc8c8;
}

/*---------------------------*/
/*      Header Text          */

.block-system-header * {
  color: #0f0f0e;
}

/*---------------------------*/
/*   Footer Background       */

.l-footer-inner .block {
  background: #bcc8c9;
}

/*---------------------------*/
/*      Footer Text          */

.l-footer * :not(.layout-wrapper *) {
  color: #0f0e0f;
}

/*---------------------------*/
/*   Menu Background         */

.menu-dropdown .leaf a,
.menu-dropdown .expanded a,
.breadcrumb ol a,
.form-checkbox,
.block-system-main-menu {
  background: #c8d7d2;
}

/* Button Background, same as Menu Background */
.button,
ul.links.inline a {
  background: #c8d7d2;
    
}
/*
.block-system-main-menu {
  background: #c8d7d2;
}
*/
.menu-dropdown ul {
  background: #c8d7d2;
}

/*---------------------------*/
/*   Menu Highlight          */

.leaf a:hover,
.expanded a:hover,
.header-menu a:hover,
.block-system-main-menu ul.menu a:hover {
  background-color: #d2e1dc;
}

.button:hover,
ul.links.inline a:hover,
.menu-dropdown ul a:hover,
.menu-dropdown ul a:focus,
.menu-dropdown ul a:active,
.menu-dropdown ul a .highlighted {
  background: #d2e1dc;
}
/*
.menu-dropdown li:hover {
  background-color:#d2e1dc;
}
*/
/*---------------------------*/
/*      Menu Text            */

.leaf a,
.expanded a,
.breadcrumb ol a,
.block-system-main-menu ul.menu a,
.block-system-main-menu ul.menu a:hover {
  color: #0e0f0f;
}

.menu-toggle-button-icon::before,
.menu-toggle-button-icon,
.menu-toggle-button-icon::after {
  background: #0e0f0f;
}

/*---------------------------*/
/*   Table Rows              */

tr.odd {
  background-color: #e6e6e6;
}

/*---------------------------*/
/*   Active Sort Column      */

td.active {
  background-color: #dcdcdc;
}

/*---------------------------*/
/*   Table Heading Row      */

th {
  background-color: #dcdcdc;
}
