/** contents.css **/

body {
  font: 1rem/1.7 "Open Sans", sans-serif;
  color: #222;
  background: #f7f7f7 url("../img/monochrome.png");
  background-attachment: fixed;
}

a {
  color: #990000; /* was #444; -EFoy */
  text-decoration: none; /* was underline; -EFoy */
}

h2 a,
h3 a {
  color: #666;
}

a:hover,
a:focus {
  color: #009900; /* was #000; -EFoy */
}

hr {
  border-color: transparent;
  border-bottom: 1px solid #000;
}

ol,ul {
  margin: 0 0.5rem; /* was 1rem; -EFoy */
  padding: 0 2rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lekton, serif;
  font-weight: 700;
  margin: .5rem 0;
  color: #666;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.15;
}
h2 {
  font-size: 2rem;
  line-height: 1.4;
}
h3 {
  font-size: 1.8rem;
  line-height: 1.3;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  line-height: 1.1;
}
h6 {
  font-size: .9rem;
}
/* below Added by -EFoy */
.block {
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 5px;
    margin: 0.5rem;
}
.block-title {
    text-decoration: underline;
    margin: 0;
}
.block-system-header {
    overflow: auto;
}
.no-border{
    border-style: none;
}
.fat-border{
    border-width: 2px;
}
/* above Added by -EFoy */
pre {
  max-width: 100%;
  overflow: auto;
  padding: 1rem;
  background: #fcfcfc url("../img/monochrome-light.png");
  border: 1px solid;
}

table {
  border-collapse: collapse;
  font-size: .9rem;
  max-width: 100%;
}

th {
  padding: .4rem;
  font-family: 'News Cycle', sans-serif;
  font-size: 1rem;
  line-height: 90%;
}

td {
    padding: .2rem;
}

td.active { /*Added -EFoy */
    background-color: #d0ebd7;
}

figure {
  display: table;
  margin: 1rem 0;
  padding: 1rem;
  background: #fcfcfc url("../img/monochrome-light.png");
}

blockquote {
  margin: 1rem 0;
  position: relative;
  padding: 0 0 0 2rem; /* LTR */
}

blockquote::before {
  content: "”";
  font-size: 3rem;
  line-height: 3rem;
  position: absolute;
  top: 0;
  left: 0; /* LTR */
  color: #777;
}

.cke_editable {
  background: #fff;
}

@media (min-width: 1025px) {
  h1 {
    font-size: 3.3rem;
    line-height: 1.15;
  }
  h2 {
    font-size: 2.2rem;
    margin: 2rem 0 1rem;
  }
  h3 {
    font-size: 2rem;
  }
}
