/**  globals.css  **/

/* SET THE PAGE WIDTH... */

.layout {max-width: 1200px;}


/* SET THE BASE FONT SIZE */

html { font-size: 90%; }


/* PAGE BODY TEXT... */

body {font: 1rem/1.7 'Open Sans', sans-serif;} 


/* NODE TITLE and BLOCK HEADINGS TEXT... */

h1,h2,h3,h4,h5 {font-family: 'Lekton', serif;}


/* MAIN MENU TEXT... */

.block-system-main-menu a { font-family: 'Lekton', serif; }


/* SIDE BAR MENU TEXT... */

.block-menu-menu-sidebar a { font-family: 'Montserrat', serif;} 
    
    
/* VIEWS TABLE HEADINGS TEXT... */

th {font-family: 'News Cycle', sans-serif;}
