.maintenance-page .l-container {
  max-width: 680px;
  margin: 10vh auto;
  padding: 4vw;
  border: 1px solid;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  color: #555;
}
.dark-mode.maintenance-page .l-container {
  background-color: #222;
  color: #ddd;
}
.maintenance-page .l-container header,
.maintenance-page .l-container main {
  flex-grow: 1;
}
.maintenance-page .l-container header {
  margin: 0 0 3rem;
}
.maintenance-page header img {
  max-width: 200px;
}
@media (min-width: 769px) {
  .maintenance-page .l-container {
    padding: 3rem;
  }
}
