/**   menus.css   **/

/* I need to decide which CSS file to put this in. Just not sure yet. */
.ui-dialog {
  z-index: 1000 !important;
}

/****************************/
/* not sure if these are really needed */
/* I need to mess around some more...  */
/*
.leaf,
a.leaf{
  text-align: center;
}
//apparently, not needed 
*/
/*******  Header Menu (usually the account menu) **/
/**************************************************/

.header-menu {
  flex: auto;
}
.header-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-menu a {
  font: 1rem/1.5 sans-serif;
  display: block;
  width: auto;
  border: 1px solid;
  border-radius: 5px;
  margin: .5em;
  padding: 0 .5em;
  text-align: center;
}

.header-menu a:hover {
  box-shadow: 2px 2px 0;
  text-decoration: none;
}  



/*******  Main Navigation Menu  **************/
/*********************************************/

.menu-toggle-button {
  margin: 5px 5px 1px;
}

.block-system-main-menu div:not(.contextual-links-wrapper) {
  display: flex;
  flex-direction: row;
  align-items: center;
/*  overflow: hidden; */
}

.block-system-main-menu a {
  padding: .5rem;
  font-size: 1.4rem;
 /* font-family: 'Lekton', serif; */
  font-weight: 700 !important;
  border: 1px !important;
}

.menu-dropdown ul {
  border-radius: 10px;
  box-shadow: 2px 2px 0;
  z-index: 100;
}

/*
.block-system-main-menu .first a:hover,
.block-system-main-menu .leaf a:hover,
.block-system-main-menu .lst a:hover,
.block-system-main-menu .active-trail a:hover,
.block-system-main-menu .active-trail a:focus-visible {
  box-shadow: 2px 2px 0;
  margin: 6px;
  border-radius: 7px;
  padding: .2em;
}
*/
/* This is a total hack, but it works. */

.js .menu-dropdown a, 
.js .menu-dropdown > li > a.has-submenu,
.js .menu-dropdown ul li > a.has-submenu,
.js .menu-dropdown > li.has-children > a {
  padding: .5em 1em .5em 1em;
  line-height: 1em;
}
.js .menu-dropdown a:hover, 
.js .menu-dropdown a:focus, 
.js .menu-dropdown a:active,
.js .menu-dropdown > li > a.has-submenu:hover,
.js .menu-dropdown > li > a.has-submenu:focus,
.js .menu-dropdown > li > a.has-submenu:active,
.js .menu-dropdown ul li > a.has-submenu:hover,
.js .menu-dropdown ul li > a.has-submenu:focus,
.js .menu-dropdown ul li > a.has-submenu:active,
.js .menu-dropdown > li.has-children > a:hover,
.js .menu-dropdown > li.has-children > a:focus,
.js .menu-dropdown > li.has-children > a:active {
  padding: .2em .7em .2em .7em;
  line-height: 1em; 

  box-shadow: 2px 2px 0;
  margin: 6px;
  border-radius: 7px;
}
/*
.block-system-main-menu .leaf a {
  padding-right: 1em;
}
*/
/* I dunno from RTL, but this stuff was in here before 
   I got here, so I figured I'd leave it be...      */
   
[dir="rtl"] .menu-dropdown li.has-children > a {
  /* Core completely messes that. */
  padding: 1rem .5rem 1rem 30px !important;
}

[dir="rtl"] .menu-dropdown ul li.has-children > a {
  padding: .5rem .5rem .5rem 30px !important;
}



/*******  Sidebar Menu  **********************/
/*********************************************/
/*
.block-menu-menu-sidebar > div {
  display: flex;
  flex-direction: column;
} 
*/
.block-menu-menu-sidebar {
  z-index: 50;
}

.block-menu-menu-sidebar li.expanded,
.block-menu-menu-sidebar li.leaf {
  width: 100%;
  text-align: center;
}

.block-menu-menu-sidebar ul a {
  font: 1rem;
  line-height: 1rem;
  border: 1px solid;
  border-radius: 5px;
  margin: .3em;
  padding: .36em !important;
  line-height: 1em !important;
}
.block-menu-menu-sidebar a:hover {
  padding: .25em !important;
  box-shadow: 2px 2px 0;
}  
.block-menu-menu-sidebar a:active {
  box-shadow: none;
  transform: translateY(2px);
}  

.block-menu-menu-sidebar a.nolink, 
.block-menu-menu-sidebar a.separator, 
.block-menu-menu-sidebar a.nolink:hover, 
.block-menu-menu-sidebar a.separator:hover {
/*  display: block;
*/  text-decoration: none;
  cursor: default;
  border: none;
  padding: 0;
  box-shadow: none;
  background: transparent !important;
}



/**** Breadcrumbs ****************************/
/*********************************************/

.breadcrumb {
  padding: .2rem .2rem;
  margin: .2rem 0;
  font-size: .9rem;
}

.breadcrumb ol a {
  text-decoration: none;
  padding: 4px 20px;
  -webkit-clip-path: polygon(0 0, 10px 50%, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0);
  clip-path: polygon(0 0, 10px 50%, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0);
}

[dir="rtl"] .breadcrumb ol a {
  -webkit-clip-path: polygon(10px 0, 0 50%, 10px 100%, 100% 100%, calc(100% - 10px) 50%, 100% 0);
  clip-path: polygon(10px 0, 0 50%, 10px 100%, 100% 100%, calc(100% - 10px) 50%, 100% 0);
}

.breadcrumb ol a:hover {
  text-decoration: underline;
}

.breadcrumb ol li:first-child a {
  padding-left: 12px;
  -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0);
  clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0);
}

[dir="rtl"] .breadcrumb ol li:first-child a {
  padding-left: 20px;
  padding-right: 12px;
  -webkit-clip-path: polygon(10px 0, 0 50%, 10px 100%, 100% 100%, 100% 0);
  clip-path: polygon(10px 0, 0 50%, 10px 100%, 100% 100%, 100% 0);
}


