@media print {

ul.primary {
    line-height: .5;
}

th {
    font-family: 'Bench Nine', sans-serif;
    font-size: 1rem;
    line-height: 80%;
}

td {
    padding-top: 0;
    padding-bottom: 0;
}

h5 {
    line-height: 1.1;
}

a {
    text-decoration: none;
}

}